<!-- Change the contents of the home page depending if people are logged in -->

<!-- See helpers/sessions to sign_in? method -->
<% if signed_in? %>
  <h1>Personalized Home Feed</h1>

    <%= will_paginate @users %>

    <ul class="users span4">
      <% @users.each do |user| %>
          <%= render user %>
          <% user.user_photos.each do |x| %>
            <span class="span4"><%= image_tag x.photo.url (:thumb) %></span>
          <% end %>
      <% end %>
    </ul>
    <%= will_paginate @users %>

  </div>

<% else %>

  <div class="center hero-unit">
  	<h1>Welcome to Modelvine</h1>
  	<p>
  		This is the home page for Modelvine
  	</p>
  	<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
  </div>

<% end %>