<% provide(:title, "Edit model profile") %>
<h1>Model Specific Information</h1>

<div class="row">
  <div class="span6"> 
    <%= render 'shared/user_photo_form' %>
    <%= render 'shared/user_photo_feed' %>
  </div>

  <div class="span6">
    <%= form_for(@model) do |f| %>
      <%= render 'shared/error_messages', object: @model %>

      <%= f.label :birth_date %>
      <%= date_select :model, :birth_date, start_year: 1900 %>

      <%= f.label :gender %>
      <%= f.select :gender, [['Male','Male'], ['Female', 'Female']] %>

      <%= f.label :height %>
      <%= f.select :height, height_list %>

      <%= f.label :weight, 'Weight (Lbs)' %>
      <%= f.text_field :weight %>

      <%= f.label :measurements %>
      <%= f.text_field :measurements %>

      <%= f.label :cup %>
      <%= f.text_field :cup %>

      <%= f.label :hair_color %>
      <%= f.select :hair_color, hair_color_list %>

      <%= f.label :dress_size %>
      <%= f.text_field :dress_size %>

      <%= f.label :shoe_size %>
      <%= f.text_field :shoe_size %>

      <%= f.label :ethnicity %>
      <%= f.select :ethnicity, ethnicity_list %>

      <%= f.label :eye_color %>
      <%= f.select :eye_color, eye_color_list %>

      <%= f.label :model_mayhem, "URL of Your Model Mayhem Profile" %>
      <%= f.text_field :model_mayhem %>

      <%= f.label :bio %>
      <%= f.text_field :bio %>

      <%= f.submit "Next", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>

</div>

