<% provide(:title, "Edit model profile") %>
<h1>Model Specific Information</h1>

  <div class="row span5"> 
    <%= render 'shared/user_photo_form' %>
    <%= render 'shared/user_photo_feed' %>
  </div>

  <div class="row span5">
    <%= form_for(@model) do |f| %>
      <%= render 'shared/error_messages', object: @model %>

      <%= f.label :birth_date %>
      <%= f.date_field :birth_date, start_year: 1900 %>

      <%= f.label :gender %>
      <%= f.select :gender, ['Male', 'Female'] %>

      <%= f.label :height %>
      <%= f.select :height, height_list %>

      <%= f.label :weight, 'Weight (Lbs)' %>
      <%= f.text_field :weight %>

      <%= f.label :bust %>
      <%= f.select :bust, measurement_list %>

      <%= f.label :waist %>
      <%= f.select :waist, measurement_list %>
 
      <%= f.label :hips %>
      <%= f.select :hips, measurement_list %>
 
      <%= f.label :cup %>
      <%= f.select :cup, cup_list %>

      <%= f.label :hair_color %>
      <%= f.select :hair_color, hair_color_list %>

      <%= f.label :dress_size %>
      <%= f.select :dress_size, dress_size_list %>

      <%= f.label :shoe_size %>
      <%= f.select :shoe_size, shoe_size_list %>

      <%= f.label :ethnicity %>
      <%= f.select :ethnicity, ethnicity_list %>

      <%= f.label :eye_color %>
      <%= f.select :eye_color, eye_color_list %>

      <%= f.label :website %>
      <%= f.text_field :website %>

      <%= f.label :model_mayhem, "URL of Your Model Mayhem Profile" %>
      <%= f.text_field :model_mayhem %>

      <%= f.label :bio %>
      <%= f.text_area :bio %>

      <%= f.submit "Next", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>


