<%= simple_form_for :conversation, url: :conversations do |f| %>
  <%= hidden_field("user_id", @recipient) %>
  <%= f.input :subject %>
  <%= f.input :body %>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
    <%= submit_tag 'Cancel', type: :reset, class: 'btn btn-danger' %>
  </div>
<% end %>
