<li>
  <% if user.get_default_photo %>	
  	<%= image_tag user.get_default_photo.photo.url (:thumb), class: 'default_photo' %>
    <%= link_to user.name, user %>
    <% user.user_photos.each do |x| %>
      <%= image_tag x.photo.url (:thumb), class: 'other_photos' %>
    <% end %>
  <% else %>
  	<%= image_tag("thumb/missing.png")  %>
  <% end %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
