<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: @user %>

      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Display Name" %>

      <%= f.label :zip_code, "Location" %>
      <%= f.text_field :zip_code, placeholder: "Zip Code" %>

      <%= f.label :user_type_type, "What type of user are you?" %>
      <% if @user.user_type %>
        <%= f.text_field :user_type_type, placeholder: @user.user_type_type, readonly: true %>
      <% else %>
        <%= f.select :user_type_type,
                                   [['Model', 'Model'],
                                   ['Photographer', 'Photographer'],
                                   ['Business', 'Business'], 
                                   ['Make Up Artist', 'Make_up_artists'],
                                   ['Agency', 'Agency']], placeholder: "What Type of user are you?" %>
      <% end %>

      <%= f.label :user_website, "Do you have your own web site?" %>
      <%= f.text_field :user_website, placeholder: "Website (Optional)" %>

      <%= f.submit "Next", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>

