<% provide(:title, 'Redeem Invite') %>
<h1>Sign Up</h1>

<div class="row">
  <div class="span6 offset3">
    
    <%= form_for(resource_name, resource, :url => session_path(resource_name)) do |f| %>  
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "buttonLink green large redeem-inner text-center" %>

    <% end %>
  </div>
</div>

