<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1> 

<h3><%= @user.user_type_type.titleize %>'s Information:</h3>
<div>Email: <%= @user.email %></div>
<div>Location: <%= @user.zip_code %></div>
<div>Website: <%= @user.user_website %> </div>
<% @user_type_attributes.each do |attribute| %>
	<div> <%= attribute[0].titleize %>: <%= attribute[1] %> </div>
<% end %>

<div>
  <h3>Photo's <%= @user.user_photos.count %></h3>
  <div>
    <!-- This will only show to defualt picture -->
    <%= render @user_photos %>  
  </div>
</div>