<header class="landingpage">
  <div class="content">
    <div class="left">
      <%= link_to "", root_path, class: "logo" %>
    </div>
    <div class="right headerlinks">
      <% if signed_in? %>
        <% if current_user.user_type != nil %>
          <%= link_to "View Profile", current_user_path %>
          <%= link_to "Manage Profile", "/users/#{current_user.id}/models/#{current_user.user_type.id}/edit" %>
          <%= link_to "Invite Models", invite_users_path %>
        <% end %>  
        <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>  
      <% else %>
        <%= link_to "Redeem Invite", new_user_registration_path, class: "buttonLink green" %>
        <%= link_to "Sign in", new_user_session_path, class: "signin" %>
      <% end %> 
    </div>    
  </div>
</header>
